<div class="user-details">
	<h1>Featured Projects</h1>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="mountains" src="{{
			"/assets/img/mountains.jpg" | prepend: site.baseurl
		}}" />
	</div>
	<div class="contents">
		<h3>Food Book</h3>
		<ul>
			<li>ReactJS</li>
			<li>MongoDB</li>
			<li>Redux</li>
			<li>Passport JWT</li>
		</ul>
		<p>
			Looking for a recommendation but don't trust random reviewers on the
			internet? Food Book only delivers reviews and ratings of users you know to
			your feed.
		</p>
		<a class="project-link" href="https://foodbook223.herokuapp.com/"
			>Check it out</a
		>
	</div>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="mountains" src="{{
			"/assets/img/skate.jpg" | prepend: site.baseurl
		}}" />
	</div>
	<div class="contents-right">
		<h3>Carved In Stone</h3>
		<ul>
			<li>NodeJS</li>
			<li>Handlebars</li>
			<li>MySQL</li>
		</ul>
		<p>
			A simple forum app where everything's permanent because we removed the
			ability to delete posts and comments!
		</p>
		<a class="project-link" href="https://carvedinstone.herokuapp.com/"
			>Check it out</a
		>
	</div>
</div>
